.sidebar {
  background-color: #141e30;
  color: aliceblue;
  width: 200px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar h4 {
  margin: 0;
  margin-top: 30px;
  text-align: center;
}

.search_input {
  margin-top: 5px;
  height: 25px;
  border: none;
  border-radius: 5px;
}

.search_input:focus {
  outline: none !important;
  box-shadow: 0 0 10px #719ece;
}

.filter_section {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
}

.sort_div,
.filter_div {
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  font-size: smaller;
  font: inherit;
  width: 140px;
  text-align: center;
  background-color: #253450;
  cursor: pointer;
  transition: 0.23s ease-in;
  height: 30px;
  overflow: hidden;
}

.show {
  height: 90px;
}
.show_filter {
  height: 120px;
}

.sort_div h4 {
  margin: 5px !important;
}

.options {
  transition: 0.2s ease-in;
  padding: 5px;
  margin: 5px;
}

.options:hover {
  color: #253450;
  background-color: aliceblue;
}

.confirmed_asc {
  color: rgb(5, 180, 45) !important;
}

.icon {
  background: rgb(40, 57, 44);
  color: rgb(51, 241, 95);
  margin-top: 3px;
  float: right;
}
