.btn {
  outline: 0;
  border: 1px solid #243b55;
  color: aliceblue;

  cursor: pointer;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  background: linear-gradient(to right, #141e30, #243b55);

  text-shadow: rgb(0 0 0 / 25%) 0px 3px 8px;
  transition: all 0.3s ease 0s;
}

.btn:hover {
  transform: scale(1.15);
}

.red_btn {
  background: linear-gradient(to right, #8b2020, #c93939);
  border: none;
}
