.add_new_car_form {
  color: #141e30;

  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-left: 60px;
}

.new_card {
  background: linear-gradient(to right, #141e30, #243b55);
  color: aliceblue;
}

.new_card h4 {
  margin: 5px;
  padding: 0;
}

.new_card input {
  font: inherit;
  width: 200px;
  padding: 5px;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
}

.new_card input[type='submit'] {
  margin-top: 40px !important;
  width: 200px;
}

.close_btn {
  float: right;
  font-size: 20px;
}

.close_btn:hover {
  cursor: pointer;
}

.model_name_label {
  margin-top: 20px !important;
}
