.card {
  width: 350px;
  height: 440px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 10px;
  transition: ease-in-out 0.23s;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 15px;
  overflow: hidden;
}

.card img:hover {
  transform: scale(1.17);
  cursor: pointer;
}

img {
  max-width: 100%;
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
  height: auto;
  margin-bottom: 25px;
}

.card p {
  font-size: 12px;
}

.text_card {
  max-width: 450px;
  height: 450px;
  text-align: center;
  margin-top: 50px;
}

.car_model_container {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 15px 1fr 15px 1fr 15px 1fr;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 15px;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 100px;
}

.no_models_header {
  text-align: center;
  margin-top: 100px;
}

.card_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}

.card_options,
.card_info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 10px;
}

.card_info {
  text-align: left;
}

span {
  font-weight: bold;
}
