.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 80vh;
}
.models_card {
  width: 150px;
  height: 150px;
  text-align: center;
  margin-top: 50px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 10px;
  transition: ease-in-out 0.23s;
}

.models_card:hover {
  transform: scale(1.15);
}

.logo_image {
  max-width: 100px;
  margin-top: 10px;
}
