.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 15px 1fr 15px 1fr 15px 1fr;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 15px;
  width: 60%;
  margin: 0 auto;
  margin-top: 50px;
  min-height: 80vh;
}
.models_card {
  width: 150px;
  height: 150px;
  text-align: center;

  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 10px;
  transition: ease-in-out 0.23s;
}

.models_card:hover {
  transform: scale(1.15);
}

.logo_image {
  max-width: 100px;
}

.allmodels_btn {
  margin: 0 !important;
  margin-top: 10px !important;
}
