@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Noto+Serif+JP:wght@500&family=Play&display=swap');

.footer_text {
  font-family: 'Play', sans-serif;
}

.footer_logo {
  font-size: 40px;
}

.footer {
  background: linear-gradient(to right, #141e30, #243b55);
  color: aliceblue;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
